<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{{ SITE_NAME }}</title>
    {% block metadata %}
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="en-us" />
        <meta name="robots" content="NONE,NOARCHIVE" />
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="/media/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/layout.css" />
    {% endblock %}
    {% block javascript %}
    {% endblock %}
</head>
<body>
    <div id="layout_account">
        {% if user.is_authenticated %}
            Logged in as <a href="/account/{{ user.username }}/">{{ user.username }}</a> | <a href="/account/logout/">Logout</a>
        {% else %}
            <a href="/account/login/">Login</a> | <a href="/account/register/">Create Account</a>
        {% endif %}
    </div>
    <div id="layout_header">
        <div id="layout_title">
            <a href="/">{{ SITE_NAME }}</a>
        </div>
        <div id="layout_menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/forum">Forum</a></li>
                <li><a href="/games">Games</a></li>
            </ul>
        </div>
    </div>
    <div id="layout_page">
        {% block content %}{% endblock %}
    </div>
    <div id="layout_footer">
        &copy; Copyright 2010 Ryan Zander. All rights reserved.
    </div>

{% if settings.GOOGLE_ANALYTICS_KEY %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_KEY }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endif %}

</body>
</html>