{% extends 'layout.html' %}

{% load github-flavoured-markdown %}
{% load markup %}

{% block javascript %}
<script type="text/javascript">
window.onload=function()
{
	document.getElementById("id_content").focus();
};
</script>
{% endblock %}

{% block content %}

<div class="topic">
	<div class="title">{{ topic.title }}</div>
	<div class="tags">Tags: {{ topic.tags }}</div>

	<div class="posts">
	{% for other_post in topic.post_set.all %}
		{% if other_post != post %}
		<div class="post">
			<div class="meta">
				<a href="/account/{{ other_post.author }}">{{ other_post.author }}</a>
				<span style="font-size: 75%;">- {{ other_post.updated_at|timesince }} ago</span>
				<div class="right">
					{% if user.is_authenticated %}
					    {% if other_post.author == user %}
					        <input type="button" value="Edit" onClick="window.location='/forum/{{ topic.id }}/post/{{ other_post.id }}/edit';" />
					        <input type="button" value="Delete" onClick="window.location='/forum/{{ topic.id }}/post/{{ other_post.id }}/delete';" />
					    {% endif %}
					{% endif %}
				</div>
			</div>
			<div class="content">{{ other_post.content|gfm|markdown }}</div>
		</div>
		{% else %}
		<form action="/forum/{{ topic.id }}/post/{{ post.id }}/edit/" method="POST">
            {% csrf_token %}
			<div class="meta">
				<a href="/account/{{ post.author }}">{{ post.author }}</a>
				<span style="font-size: 75%;">- {{ post.updated_at|timesince }} ago</span>
				<div class="right">
					<a class="popup" href="/dingus">Syntax Cheatsheet</a>
					<input type="submit" value="Save" />
				</div>
			</div>
            {{ form.non_field_errors }}

            {{ form.content.errors }}
            {{ form.content }}
		</form>
		{% endif %}
	{% endfor %}
	</div>

	<input type="button" value="Reply" onClick="window.location='/forum/{{ topic.id }}/reply';" />
</div>

{% endblock %}