{% extends 'layout.html' %}

{% block content %}

<h1>{{ userObject.username }}</h1>

<br />
<p>Avatar: <img src="/media/{{ userObject.profile.avatar }}" /></p>
<p>Email: hidden</p>
<p>Location: {{ userObject.profile.location }}</p>
<p>Joined: {{ userObject.date_joined }}</p>

{% if userObject.username == user.username %}
	<br />
	<input type="button" value="Change Password" onClick="window.location='/account/password/change';" />
{% endif %}

<br />
<a href="/accounts/">Other users...</a>

{% endblock %}